@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{ 
        ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("Uname");
    }
    @if (ViewBag.Data!=null)
    {
 <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="Home" asp-action="Privacy" title="Manage">Hello @ViewBag.Data!</a>
        </li>
        <li class="nav-item">
            @*<form id="logoutForm" class="form-inline" asp-controller="Login"  asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Login", new { area = "" })">*@
            <form>
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Login" asp-action="Logout">Logout</button>
            </form>
            @*</form>*@
        </li>
    }
else
{
  <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Login" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Home" asp-action="Index">Logout</a>
        </li>
}